* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  /* Set the paper size to A4 */
  @page {
    size: A4;
  }

  .result {
    &.in-tem {
      width: 8cm;
      height: 3cm;
      grid-template-columns: repeat(2, 4cm);
      grid-template-rows: repeat(1, 3cm);

      @page {
        size: 8cm 3cm;
      }
    }
  }

  .function {
    display: none;
  }

  .result {
    grid-template-columns: repeat(6, 3cm);
    grid-template-rows: repeat(7, 3cm);
    page-break-after: always;
    gap: 3rem;
  }
}

.container {
  .function {
    .c-input {
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
    }

    .btn {
      padding: 0.4rem 0.6rem;
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 0.3rem;

      &.btn-primary {
        background-color: blue;
      }

      &.btn-secondary {
        background-color: green;
      }
    }
  }
}

.result {
  padding: 1cm;
  //   margin: 1.5cm;
  /* width: 210cm;
    height: auto; */
  width: 100%;
  height: 100%;
  page-break-after: always;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(6, 3cm);
  grid-template-rows: repeat(7, 3cm);

  .item {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 3cm;
    }
  }

  .name-product {
    font-size: 0.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &.barcode {
    // padding: 1cm;
    gap: 4rem;
    grid-template-columns: repeat(3, 6cm);
    grid-template-rows: repeat(6, 4cm);

    .barcode-item {
      height: min-content;

      img {
        width: 100%;
        height: 1.5cm;
      }

      .imei-product {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  // In tem
  &.in-tem {
    padding: 0.2cm;
    width: 8cm;
    height: 3cm;
    grid-template-columns: repeat(2, 4cm);
    grid-template-rows: repeat(1, 3cm);
    gap: 1rem;

    .barcode-item {
      height: min-content;

      img {
        width: 100%;
        height: 1.5cm;
      }

      .imei-product {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
