@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

@media print {
  /* Set the paper size to A4 */
  @page {
    size: A4 portrait;
  }
  @page :left {
    margin-left: 1cm;
  }
  @page :right {
    margin-left: 1cm;
    @bottom-right {
      content: counter(page);
    }
  }
  .container {
    width: 210cm !important;
    height: auto;
    margin: 0;
  }
  .container .header {
    display: none;
  }
  .container .result {
    grid-template-columns: repeat(5, 3cm);
    page-break-after: auto;
    gap: 2rem 3rem;
    page-break-after: auto;
    margin: 0;
  }
  .container .result.barcode {
    gap: 3rem 4rem;
    grid-template-columns: repeat(3, 5cm);
  }
  .container .result.in-tem {
    width: 8cm;
    height: 3cm;
    grid-template-columns: repeat(2, 4cm);
    grid-template-rows: repeat(1, 3cm);
  }
  @page {
    .container .result.in-tem {
      size: 8cm 3cm;
    }
  }
  .container .function {
    display: none !important;
  }
  .container .footer-print {
    display: flex !important;
  }
}
.container {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 800px;
  background-color: #fff;
}
.container .footer-print {
  max-width: 800px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  display: none;
  justify-content: space-between;
}
.container header {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container header .title-page {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2.2rem;
}
.container header .social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container header .social .list-item {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.container .function {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
.container .function .form-group label {
  font-weight: bold;
}
.container .function .c-input {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  overflow: hidden;
}
.container .function .btn {
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0.3rem;
}
.container .function .btn.btn-primary {
  background-color: blue;
}
.container .function .btn.btn-secondary {
  background-color: green;
}

.result {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(5, 3cm);
  margin-top: 1rem;
}
.result .item {
  width: 3cm;
  height: 4cm;
}
.result .item img {
  width: 100%;
  height: 3cm;
}
.result .name-product {
  font-size: 0.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.result.barcode {
  gap: 3rem 2rem;
  grid-template-columns: repeat(3, 6cm);
}
.result.barcode .barcode-item {
  height: min-content;
}
.result.barcode .barcode-item img {
  width: 100%;
  height: 1cm;
}
.result.barcode .barcode-item .imei-product {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}
.result.in-tem {
  padding: 0.2cm;
  width: 8cm;
  height: 3cm;
  grid-template-columns: repeat(2, 4cm);
  grid-template-rows: repeat(1, 3cm);
  gap: 1rem;
}
.result.in-tem .barcode-item {
  height: min-content;
}
.result.in-tem .barcode-item img {
  width: 100%;
  height: 1.5cm;
}
.result.in-tem .barcode-item .imei-product {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
