@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

@media print {
  /* Set the paper size to A4 */
  @page {
    // size: A4 landscape;
    size: A4 portrait;
  }

  @page :left {
    margin-left: 1cm;
  }

  @page :right {
    margin-left: 1cm;

    @bottom-right {
      content: counter(page);
    }
  }

  .container {
    width: 210cm !important;
    height: auto;
    margin: 0;

    .header {
      display: none;
      // visibility: hidden;
    }

    .result {
      grid-template-columns: repeat(5, 3cm);
      page-break-after: auto;
      gap: 2rem 3rem;
      page-break-after: auto;
      margin: 0;

      &.barcode {
        gap: 3rem 4rem;
        grid-template-columns: repeat(3, 5cm);
      }

      &.in-tem {
        width: 8cm;
        height: 3cm;
        grid-template-columns: repeat(2, 4cm);
        grid-template-rows: repeat(1, 3cm);

        @page {
          size: 8cm 3cm;
        }
      }
    }

    .function {
      display: none !important;
    }

    .footer-print {
      display: flex !important;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 800px;
  background-color: #fff;

  .footer-print {
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    display: none;
    justify-content: space-between;
  }

  header {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

    .title-page {
      text-align: center;
      padding: 0.5rem 0;
      font-size: 2.2rem;
    }

    .social {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .list-item {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
    }
  }

  .function {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;

    .form-group {
      label {
        font-weight: bold;
      }
    }

    .c-input {
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      display: inline-block;
      overflow: hidden;
    }

    .btn {
      padding: 0.4rem 0.8rem;
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 0.3rem;

      &.btn-primary {
        background-color: blue;
      }

      &.btn-secondary {
        background-color: green;
      }
    }
  }
}

.result {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(5, 3cm);
  margin-top: 1rem;

  .item {
    width: 3cm;
    height: 4cm;

    img {
      width: 100%;
      height: 3cm;
    }
  }

  .name-product {
    font-size: 0.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &.barcode {
    gap: 3rem 2rem;
    grid-template-columns: repeat(3, 6cm);

    .barcode-item {
      height: min-content;

      img {
        width: 100%;
        height: 1cm;
      }

      .imei-product {
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  // In tem
  &.in-tem {
    padding: 0.2cm;
    width: 8cm;
    height: 3cm;
    grid-template-columns: repeat(2, 4cm);
    grid-template-rows: repeat(1, 3cm);
    gap: 1rem;

    .barcode-item {
      height: min-content;

      img {
        width: 100%;
        height: 1.5cm;
      }

      .imei-product {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
